<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<a href="/">All books</a>
<h2>{{ book.title }}</h2>
<p>ID: {{ book.id }}</p>
<p>Description: {{ book.desc }}</p>

Authors:
{% for author in book.authors.all %}
    <li><a href="/author/{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</a></li>
{% endfor %}

<h4>Add an author</h4>
<form action="/books/{{ book.id }}/assign" method="POST">
    {% csrf_token %}
    <select name="author_id">
        {% for author in authors %}
            <option value = "{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
        {% endfor %}
    </select>
    <button>Add</button>
</form>
</html>